
# dataframe 删除列,删除行,添加行,添加列

In [9]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['A', 'B', 'C', 'D'])
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## dataframe 删除列

#DataFrame.drop(labels=None,axis=0, index=None, columns=None, inplace=False)

#labels 就是要删除的行列的名字，用列表给定

#axis 默认为0，指删除行，因此删除columns时要指定axis=1；

#index 直接指定要删除的行

#columns 直接指定要删除的列

#inplace=False，默认该删除操作不改变原数据，而是返回一个执行删除操作后的新dataframe；

#inplace=True，则会直接在原数据上进行删除操作，删除后无法返回。

In [10]:
# Drop columns 方法一
df.drop(['B', 'C'], axis=1)  # 删除列B和列C
# axis 默认为0，指删除行，因此删除columns时要指定axis=1；

   A   D
0  0   3
1  4   7
2  8  11

In [11]:
# Drop columns 方法二
df.drop(columns=['B', 'C'])

   A   D
0  0   3
1  4   7
2  8  11

In [21]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['P', 'Q', 'R', 'S'])
df

   P  Q   R   S
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [22]:
#Drop columns:#删除两列
df.drop(['Q', 'R'], axis=1)

   P   S
0  0   3
1  4   7
2  8  11

In [23]:
#第二种方法
df.drop(columns=['Q', 'R'])

   P   S
0  0   3
1  4   7
2  8  11

# Drop rows 删除行

In [12]:
# Drop rows 删除行 方法一
df.drop([0, 1])  # 删除第一行和第二行

   A  B   C   D
2  8  9  10  11

In [13]:
# Drop rows 删除行 方法二
df.drop(index=[0, 1])  # 删除第一行和第二行 # Drop a row by index

   A  B   C   D
2  8  9  10  11

# 删除指定的行

In [14]:
# 删除指定的行
import pandas as pd
df = {'DataBase': ['mysql', 'test', 'test', 'test', 'test'],
      'table': ['user', 'student', 'course', 'sc', 'book']}
df = pd.DataFrame(df)
df

  DataBase    table
0    mysql     user
1     test  student
2     test   course
3     test       sc
4     test     book

In [15]:
#删除table值为sc的那一行
df.drop(index=(df.loc[(df['table']=='sc')].index))

  DataBase    table
0    mysql     user
1     test  student
2     test   course
4     test     book

In [16]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
df

   A  B
x  1  2
y  3  4

In [17]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])
df2

   A  B
x  5  6
y  7  8

# df.append

# pandas的DataFrame的append方法详细介
# pandas.DataFrame.append
# DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)

In [18]:
df.append(df2)  # 添加两行

   A  B
x  1  2
y  3  4
x  5  6
y  7  8

In [19]:
df.append(df2, ignore_index=True)  # 忽略index number

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [20]:
pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],  # i 是从0到4
          ignore_index=True)

   A
0  0
1  1
2  2
3  3
4  4