# Syftet med det här projektet är att använda verktygen ni lärt er i Python, databehandling och

datavisualisering för att rensa och filtrera ut användbar information och skapa en dashboard.

I den här projektet ska ni hämta historisk data på OS från Kaggle. Ni ska jobba i grupper på 2-3 personer.

# Uppgift 0

# Reading data: athlete_events.csv

In [2]:
import pandas as pd

events = pd.read_csv("athlete_events.csv")
#events = pd.read_csv("../datasource/Projekt_OS_data/athlete_events.csv")
events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
events.shape

In [ ]:
events.columns

In [ ]:
events.isnull().sum()

# Missing value handling

In [ ]:
events.Age.describe()

In [ ]:
Age_mean=events["Age"].mean()
print(Age_mean)
events["Age"]=events["Age"].fillna(Age_mean)# 年龄的空缺值用平均值来填充
events["Age"].isnull().sum()

In [ ]:
events.Height.describe()

In [ ]:
#Height_mean=events["Height"].mean()
#print(Height_mean)
#events["Height"]=events["Height"].fillna(Age_mean)# 年龄的空缺值用平均值来填充
#events["Height"].isnull().sum()

In [ ]:
events['Medal'] = events['Medal'].fillna('None')
events['Medal'].isna().sum()

In [ ]:
events.isnull().sum()

# Read Regions data

In [ ]:
import pandas as pd
regions = pd.read_csv("../datasource/Projekt_OS_data/noc_regions.csv")
regions.head()

In [ ]:
regions.rename(columns={"region":"Country"},inplace=True)
#del regions["notes"] #删除列
regions.head()

# merge two data file

In [ ]:
olympics = pd.merge(events,regions, on = 'NOC', how = 'left')
olympics.head()

In [ ]:
china=olympics[olympics["Country"]=="China"]
china.head()

In [ ]:
olympics.loc[olympics['Country'].isnull(),['Team','NOC']].drop_duplicates()

In [ ]:
olympics.Medal.value_counts()

In [ ]:
olympics.Season.value_counts().__len__()

In [ ]:
olympics.Team.unique().__len__()
# len(df.Team.unique()) #same result

In [ ]:
len(olympics.Team.unique())

In [ ]:
olympics[["Team"=="USA"]].unique

# a)
hur många länder som är med i datan?

In [ ]:
olympics["Team"].unique().__len__()

In [ ]:
olympics["NOC"].unique().__len__()

# b)
vilka länder är med? (förkortningarna räcker)

In [ ]:
olympics.NOC.unique()

In [ ]:
olympics.NOC.value_counts()

# c)
vilka sporter är med?

In [ ]:
olympics.Sport.unique().__len__() #一共有66个体育项目

In [ ]:
olympics.Sport.unique()

# d)
vilka medaljtyper finns det?

In [ ]:
olympics.Medal.value_counts()

# e)
ta reda på statistik för åldern: medelvärde, median, min, max, standardavvikelse,

In [ ]:
olympics.Age.describe()

# f) 
utforska datan vidare med egna frågor

Se även till att plotta några intressanta features, exempelvis:

In [ ]:
olympics[olympics["Team"]=="China"].Medal.value_counts() # 中国队的累计奖牌总数

In [ ]:
olympics[(olympics["Team"]=="China") & (df["Season"]=="Summer")].Medal.value_counts() #中国队夏季奥运会的累计奖牌总数

In [ ]:
olympics[(olympics["Team"]=="China") & (olympics["Year"]==2016)].Medal.value_counts() #2016届奥运会中国队的奖牌总数量

In [ ]:
olympics[(olympics["Team"]=="China")  & (olympics["Medal"]=="Gold")].Sport.value_counts() # #历届奥运会中国队每个体育项目的奖牌数量

In [ ]:
olympics[(olympics["Medal"]=="Gold")].Sport.value_counts() # #2016届奥运会中国队每个体育项目的奖牌数量

In [ ]:
olympics[(olympics["Team"]=="China") & (olympics["Year"]==2016) & (olympics["Medal"]=="Gold")].Sport.value_counts() # #2016届奥运会中国队每个体育项目的奖牌数量

In [ ]:
df[(df["Team"]=="China") & (df["Season"]=="Summer")].sort_values(by="Year",ascending=False).reset_index(drop=True) #按年份降序排列，中国队的数据

In [ ]:
df[(df["Team"]=="China") & (df["Year"]==2016)].Sport.value_counts().sort_values(by="Medal",ascending=False).reset_index(drop=True)

# g) 
cirkeldiagram över könsfördelningen

In [ ]:
df.Sex.value_counts()

In [ ]:
import plotly_express as px
fig=px.pie(df,values="ID",title="Gender distribution",names="Sex")
fig.show()

# h)
stapeldiagram över topp 10 länder som tagit flest medaljer 获得奖牌最多的前 10 个国家的条形图

In [ ]:
df.Medal.value_counts().

In [ ]:
df1=df[(df["Medal"]=="Gold")]
df1.value_counts(by="NOC")

# i)
 plotta gärna fler saker som är intressant.

# Uppgift 1 - Landstatistik

Ni får ett land tilldelat till er grupp. Börja med att anonymisera kolumnen med idrottarnas namn med
hashfunktionen SHA-256.

Undersök därefter hur det gått för landet i OS genom tiderna. Visualisera exempelvis:
                       de sporter landet fått flest medaljer i
                       antal medaljer per OS
                       histogram över åldrar

Skapa fler plots för att visualisera flera aspekter kring ert land och dess sportprestationer i OS.

# Uppgift 2 - Sportstatistik


Välj 2-4 sporter och skapa lämpliga grafer/diagram för att visualisera exempelvis:
medaljfördelning mellan länder i sporterna
åldersfördelning i sporterna

Skapa fler plots för att visualisera olika aspekter kring sporterna.

# Uppgift 3 - Presentation

# Uppgift 4 - Video