In [2]:

import hashlib as hl 

# utf-8 encoded version
secret = "gore_bord@gmail.com".encode()
secret2 = "gore_bord1@gmail.com".encode()

print(secret)
print(secret2)

b'gore_bord@gmail.com'
b'gore_bord1@gmail.com'

In [4]:
secret_hash = hl.sha256(secret).hexdigest()
secret_hash2 = hl.sha256(secret2).hexdigest()
print(f"secret hash: {secret_hash}")
print(f"secret hash2: {secret_hash2}")

secret hash: 7d6d9a849ccc7f5febe065ebe3b4f39558fc96ef865e02333dd7b7426ff0c057
secret hash2: 0290afd54f254c13b9b8c0d6037e4aaf26c65bb025b1815f2ef8a81f3042d7dc

In [6]:
secret_hash_same = hl.sha256("gore_bord@gmail.com".encode()).hexdigest()
print(f"secret hash same: {secret_hash_same}")
print(f"secret hash small change: {secret_hash2}")

secret hash same: 7d6d9a849ccc7f5febe065ebe3b4f39558fc96ef865e02333dd7b7426ff0c057
secret hash small change: 0290afd54f254c13b9b8c0d6037e4aaf26c65bb025b1815f2ef8a81f3042d7dc

In [7]:
secret_hash_same == secret_hash

True

# Example with Pandas

In [9]:
import pandas as pd 

bank = pd.read_csv("../datasource/BankChurners.csv") #银行搅局者
bank.head(3)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998

In [10]:
bank.columns

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
       'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'],
      dtype='object')

In [13]:
bank["CLIENTNUM"].head() #查看CLIENTNUM这一列的数据类型 int64

0    768805383
1    818770008
2    713982108
3    769911858
4    709106358
Name: CLIENTNUM, dtype: int64

In [18]:
bank["CLIENTNUM"]=bank["CLIENTNUM"].astype(str) #转化这一列的数据类型从 int64 到 object 字符型
bank["CLIENTNUM"].head()

0    768805383
1    818770008
2    713982108
3    769911858
4    709106358
Name: CLIENTNUM, dtype: object