# Lecture Notes -Anonymization 匿名化

In [10]:
import hashlib as hl 
# utf-8 encoded version
secret="gore_bord@gmail.com".encode()
secret2="gore_bord1@gmail.com".encode()

# Example with Pandas

In [17]:
import pandas as pd
df = pd.read_csv("../datasource/BankChurners.csv", usecols=[
                 "CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])
df.head()

   CLIENTNUM     Attrition_Flag  Customer_Age Gender  Total_Trans_Amt
0  768805383  Existing Customer            45      M             1144
1  818770008  Existing Customer            49      F             1291
2  713982108  Existing Customer            51      M             1887
3  769911858  Existing Customer            40      F             1171
4  709106358  Existing Customer            40      M              816

In [18]:
df.columns # 查看有哪些列

Index(['CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Total_Trans_Amt'],
      dtype='object')

In [19]:
df["CLIENTNUM"].head() #chane to string

0    768805383
1    818770008
2    713982108
3    769911858
4    709106358
Name: CLIENTNUM, dtype: int64

In [20]:
df["CLIENTNUM"] = df["CLIENTNUM"].astype(str)
hashes = df["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest())
hashes.head()

0    c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...
1    7996e2340d70489252370a5df035ec99381c8344cc3511...
2    6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...
3    f86b86a1047317685f29c399059b199858685faf5ec6a8...
4    0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...
Name: CLIENTNUM, dtype: object

In [21]:
df.insert(1, "Hash values", hashes) #insert new columns "Hash values"
df.head() #Attrition_Flag 损耗标志 现有客户

,CLIENTNUM,Hash values,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816