
<a href="https://colab.research.google.com/github/kokchun/Databehandling-21/blob/main/Exercises/E01_missing_aggregation.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; to see hints and answers.

---
# Missing data and aggregations exercises

---
These are introductory exercises in Pandas with focus in **syntax, indexing, data selection, missing data, aggregations, visualizations** and **data cleaning**.

<p class = "alert alert-info" role="alert"><b>Note</b> all datasets used in this exercise can be found under Data folder of the course Github repo</p>

<p class = "alert alert-info" role="alert"><b>Note</b> that there are usually many ways to achieve same results using operations in pandas. Feel free to investigate several ways. </p>

<p class = "alert alert-info" role="alert"><b>Note</b> that in cases when you start to repeat code, try not to. Create functions to reuse code instead. </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable, function, index </b> and <b> column names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Find missing values (*)

 a) Read in the file "student-mat-missing-data.csv" into a Pandas DataFrame

b) Do some initial explorations with the methods to get an understanding of the dataset:
```py
head(), info(), describe(), value_counts(), unique(), columns()
```

c) Create a function that takes in a DataFrame as input parameter and plots a barplot with the columns that have missing values. Put this function into a file called data_utils.py.
When you come across more useful functions, you can store them in your data_utils module. 

 d) Now import your function from the module data_utils and use it to visualize NaNs in your dataset.

e) Find all rows where the freetime is NaN.   

 f) Find all rows where the freetime **or** the age is NaN.  

g) You will notice that some rows have several NaNs. Now compute the proportion that these rows constitute of the whole dataset.

# a)
Read in the file "student-mat-missing-data.csv" into a Pandas DataFrame

In [5]:
import pandas as pd
# C:\Users\Xiu\Documents\GitHub\Databehandling_Xiu\datasource
df = pd.read_csv("../datasource/student-mat-missing-data.csv")
df.head(5)

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,...,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,...,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,...,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,...,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,...,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10

# b) 
Do some initial explorations with the methods to get an understanding of the dataset:

In [6]:
df.shape

(395, 34)

In [23]:
df["Mjob"].unique()
#df["sex"].unique()

array(['at_home', 'health', 'other', 'services', 'teacher'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  395 non-null    int64
 1   school      395 non-null    object
 2   sex         395 non-null    object
 3   age         381 non-null    float64
 4   address     390 non-null    object
 5   famsize     395 non-null    object
 6   Pstatus     395 non-null    object
 7   Medu        395 non-null    int64
 8   Fedu        395 non-null    int64
 9   Mjob        395 non-null    object
 10  Fjob        395 non-null    object
 11  reason      395 non-null    object
 12  guardian    395 non-null    object
 13  traveltime  395 non-null    int64
 14  studytime   395 non-null    int64
 15  failures    395 non-null    int64
 16  schoolsup   395 non-null    object
 17  famsup      395 non-null    object
 18  paid        395 non-null    object
 19  activities  395 non-null    object
 20  nursery     395 non-null    object
 21  higher      395 non-null    object
 22  internet    395 non-null    object
 23  romantic    395 non-null    object
 24  famrel      390 non-null    float64
 25  freetime    379 non-null    float64
 26  goout       390 non-null    float64
 27  Dalc        395 non-null    int64
 28  Walc        395 non-null    int64
 29  health      390 non-null    float64
 30  absences    390 non-null    float64
 31  G1          395 non-null    int64
 32  G2          395 non-null    int64
 33  G3          395 non-null    int64
dtypes: float64(6), int64(11), object(17)
memory usage: 105.0+ KB

In [24]:
df["sex"].value_counts()

F    208
M    187
Name: sex, dtype: int64

In [33]:
df["age"].isnull().sum()

14

In [37]:
nulls=df.isnull().sum() 
print(nulls)

Unnamed: 0     0
school         0
sex            0
age           14
address        5
famsize        0
Pstatus        0
Medu           0
Fedu           0
Mjob           0
Fjob           0
reason         0
guardian       0
traveltime     0
studytime      0
failures       0
schoolsup      0
famsup         0
paid           0
activities     0
nursery        0
higher         0
internet       0
romantic       0
famrel         5
freetime      16
goout          5
Dalc           0
Walc           0
health         5
absences       5
G1             0
G2             0
G3             0
dtype: int64

## c)
Create a function that takes in a DataFrame as input parameter and plots a barplot with the columns that have missing values. Put this function into a file called data_utils.py.

When you come across more useful functions, you can store them in your data_utils module.

# d)
Now import your function from the module data_utils and use it to visualize NaNs in your dataset.

In [39]:
from data_utils import find_missing_values

find_missing_values(df)

ModuleNotFoundError: No module named 'data_utils'

# e) 
Find all rows where the freetime is NaN.

In [56]:
freetime_missing = df["freetime"].isnull()

freetime_missing = freetime_missing[freetime_missing == True]
freetime_missing.index.values

array([ 87,  99, 130, 149, 151, 160, 191, 257, 276, 293, 308, 330, 343,
       359, 372, 385], dtype=int64)

In [44]:
df["freetime"].isnull().sum()

16


# f) 
Find all rows where the freetime **or** the age is NaN.

# g)
 You will notice that some rows have several NaNs. Now compute the proportion that these rows constitute of the whole dataset.

---
## 2. Clean the data (*)

&nbsp; a) As you have conversed with a domain expert you both agree that there are too many missing data to fill in and the proportion is small enough to be safe to just remove.  
Now remove these rows and use your missing-value utility function visualize the remaining NaNs.

&nbsp; b) The domain expert has told you that you have to fill in the missing age values.
Start with visualising the age distribution in the dataset using a histogram. 

&nbsp; c) Check which columns there are in the dataset to see what can be utilised in determining the age.

&nbsp; d) The column higher seems interesting. Let's see which unique values it can have. 

&nbsp; e) Let's see if we can see some connection between age distribution and higher.
Make 3 subplots of age histograms:
- Plot 1: same as b)
- Plot 2: age distribution when higher is yes 
- Plot 3: age distribution when higher is no  

&nbsp; f) That was hard to find a connection. When reading [dataset source](https://www.kaggle.com/uciml/student-alcohol-consumption) we find alcohol consumption, maybe there is some connection between age and alcohol consumption.
- Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)

&nbsp; Start with creating a new column called Alcohol, which is a sum of Dalc and Walc columns

&nbsp; g) Make a barchart for alcohol consumption vs age.

&nbsp; h) We see that older students tend to drink more, but notice how few 20-22 year-old students we have in the dataset. We can definitely exclude them when computing the missing values. However there are also few 19 year-old students in the dataset, say for simplicity that we can exclude them as well. This leaves: 
- alcohol level >= 4 -> 16, 17 or 18 years old -> take median to simplify 
- alcohol level < 4 -> 15 years old

Fill these in and visualize missing values. 

&nbsp; Note: could make more stringent by computing percentages based on the distribution


<details>
<summary>Answer</summary>

a)

![null values graph after cleaned once](../assets/null_vals_student_2.png)

b)

![Age distribution](../assets/age_distribution_student.png)

c)

```python

Index(['Unnamed: 0', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')
```

d)

```python

array(['yes', 'no'], dtype=object)

```

e)

![Age distribution with higher](../assets/age_dist_higher.png)

f) 

```python

0      2
1      2
2      5
3      2
4      3
      ..
390    9
391    7
392    6
393    7
394    6
Name: Alcohol, Length: 390, dtype: int64

```

g)

![Age distribution vs alcohol](../assets/alcohol_age.png)

---
## 3. Clean freetime column (**)

Now there are missing data on freetime that needs to be filled. 
- Try yourself and find reasonable approaches for how you would fill those missing data.
- Document what you have tried and different findings
- Combine suitable visualizations with pandas methods

---

Kokchun Giang

[LinkedIn][linkedIn_kokchun]

[GitHub portfolio][github_portfolio]

[linkedIn_kokchun]: https://www.linkedin.com/in/kokchungiang/
[github_portfolio]: https://github.com/kokchun/Portfolio-Kokchun-Giang

---