# L0 Pandas basics exerience


# 1. Cities in Sweden - create dataset (*)

 # a) Use your DataFrame to print out all the cities. (*)

In [ ]:
import pandas as pd
data = dict(Malmö=347949, Stockholm=975551, Uppsala=233839,
            Göteborg=583056)  # poulation of the city
series_population = pd.Series(data=data)
print(series_population)

# extract values
print(f"series_populations[1]: {series_population[1]}")
# get the keys
print(f"series_populations.keys() : {series_population.keys()}")
print(f"series_populations.keys() [3]: {series_population[1]}")

In [ ]:
# df=pd.DataFrame(series_population,columns=("Kommun,Population",))
df = pd.DataFrame(series_population)
df
# df[["Kommun","Population"]] #select two columns
# 括号里面如果没有逗号，会出现以下错误提示
# TypeError: Index(...) must be called with a collection of some kind, 'Num of population' was passed

In [ ]:
import pandas as pd
data = {
    "kommun": ["Malmö", "Stockholm", "Uppsala", "Göteborg"],
    "population": [347949, 975551, 233839, 583056]
}

# load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

In [ ]:

print(df.loc[3])  # return row 3
# use a list of indexes:
print(df.loc[[0, 1]])  # Return row 0 and 1:

# b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

In [ ]:
# return row 3:返回到第四行
print(df.loc[3])

# c) Sort the cities by population from largest to smallest.

In [ ]:
# 按人口的降序排列sorting descending by population column
df1 = df.sort_values(by="population", ascending=False)
df1

# d) Filter out the three largest cities. (*)

In [ ]:
top3 = df1.iloc[:3].reset_index()
top3

# e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%).
 # This column should be filled with percentage of the Swedish population for each city.

# 2. Cities in Sweden - real dataset (*)

In [6]:
import pandas as pd
# C:\Users\Xiu\Documents\GitHub\Databehandling_Xiu\datasource

#df = pd.read_excel("komtopp50_2020.xlsx",sheet_name=1)
# sheet_name的用处在于有的EXCEL里面包括好几个，这里要指定第二个
df = pd.read_excel("../datasource/komtopp50_2020.xlsx", sheet_name=1)
df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Folkmängd per kommun 31 december 2020 jämfört ...,NaN,NaN,NaN,NaN,NaN
2,Sorterat i alfabetisk ordning. Rangordning frå...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang,NaN,Kommun,Folkmängd 31 december,NaN,Förändring

In [4]:
# Drop rows 
df1 = df.drop(index=[0, 1, 2, 3, 4, 5]).reset_index(drop=True).rename(
    columns={"Unnamed: 0": "Rang2020", "Unnamed: 1": "Rang2019", "Unnamed: 2": "Kommun",
             "Unnamed: 3": "Folkmängd 2020", "Unnamed: 4": "Folkmängd 2019",
             "Unnamed: 5": "Förändring"}, )  # 删除前六行
print(df1)

#方法二
#df1.rename(columns={"0": "Rang2020", " 1": "Rang2019", "2": "Kommun",
 #          "3": "Folkmängd 2020", " 4": "Folkmängd 2019", " 5": "Förändring"}, inplace=True)

    Rang2020  Rang2019        Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0         83      84.0           Ale          31868         31402.0   1.483982
1         64      64.0      Alingsås          41602         41420.0   0.439401
2        123     123.0       Alvesta          20224         20134.0   0.447005
3        255     255.0         Aneby           6821          6848.0  -0.394276
4        169     167.0        Arboga          14039         14087.0   -0.34074
..       ...       ...           ...            ...             ...        ...
285       54      55.0     Österåker          46644         45574.0    2.34783
286      116     115.0     Östhammar          22251         22250.0   0.004494
287      160     159.0  Östra Göinge          15017         15007.0   0.066636
288      284     284.0     Överkalix           3289          3315.0  -0.784314
289      279     279.0    Övertorneå           4217          4299.0   -1.90742

[290 rows x 6 columns]

In [ ]:
#df1.reset_index(drop=True)
# drop=True就是把原来的索引index列去掉，重置index。

# drop=False就是保留原来的索引，添加重置的index。

# 两者的区别就是有没有把原来的index去掉。

# c

In [38]:
# Sort the cities by population from largest to smallest. (*) 人口从多到少排序
#sortlist=df1.sort_values(by="Folkmängd 2020", ascending=False) 此行代码可以运行

sortlist = df1.sort_values(by="Folkmängd 2020", ascending=False).reset_index(drop=True) #重新拍序列号
top5 = sortlist.iloc[:5]
top5

  Rang2020  Rang2019     Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0        1       1.0  Stockholm         975551        974073.0   0.151734
1        2       2.0   Göteborg         583056        579281.0    0.65167
2        3       3.0      Malmö         347949        344166.0   1.099179
3        4       4.0    Uppsala         233839        230767.0   1.331213
4        5       5.0  Linköping         164616        163051.0   0.959822

In [17]:
top5 = sortlist.iloc[:5]
top5

  Rang2020  Rang2019     Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0        1       1.0  Stockholm         975551        974073.0   0.151734
1        2       2.0   Göteborg         583056        579281.0    0.65167
2        3       3.0      Malmö         347949        344166.0   1.099179
3        4       4.0    Uppsala         233839        230767.0   1.331213
4        5       5.0  Linköping         164616        163051.0   0.959822

#   d) Filter out the five smallest cities. (*)

In [19]:
smallest5 = sortlist.iloc[-5:].reset_index(drop=True) # 人口最小的5个城市
smallest5

  Rang2020  Rang2019    Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0      286     286.0     Åsele           2805          2794.0   0.393701
1      287     287.0  Arjeplog           2718          2785.0  -2.405745
2      288     288.0   Dorotea           2498          2551.0  -2.077617
3      289     289.0   Sorsele           2442          2489.0  -1.888309
4      290     290.0  Bjurholm           2387          2408.0  -0.872093

#  e) Use the DataFrame to calculate Sweden's population in 2019 and 2020. (*)

# f) Plot a bar chart for the five largest cities and the five smallest cities. (*)

In [ ]:
import matplotlib.pyplot as plt

# 3. Cities in Sweden - gender (*)

In [20]:
import pandas as pd

df_woman = pd.read_excel("../datasource/komtopp50_2020.xlsx", sheet_name=2) # 打开第3个Excel
df_woman.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Antal kvinnor per kommun 31 december 2020 jämf...,NaN,NaN,NaN,NaN,NaN
2,Sorterat i alfabetisk ordning. Rangordning frå...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang,NaN,Kommun,Kvinnor 31 december,NaN,Förändring
5,2020,2019.0,NaN,2020,2019.0,%
6,84,85.0,Ale,15612,15348.0,1.720094
7,64,64.0,Alingsås,20900,20774.0,0.606527
8,123,123.0,Alvesta,9857,9795.0,0.632976
9,255,255.0,Aneby,3318,3350.0,-0.955224
10,165,164.0,Arboga,6945,6973.0,-0.401549
11,287,287.0,Arjeplog,1292,1327.0,-2.637528
12,260,260.0,Arvidsjaur,2977,3038.0,-2.0079
13,103,101.0,Arvika,12895,12981.0,-0.662507
14,197,199.0,Askersund,5604,5589.0,0.268384
15,112,112.0,Avesta,11391,11444.0,-0.463125
16,223,221.0,Bengtsfors,4643,4699.0,-1.191743
17,249,251.0,Berg,3453,3409.0,1.290701
18,290,290.0,Bjurholm,1154,1159.0,-0.431406
19,156,154.0,Bjuv,7624,7662.0,-0.495954

In [21]:
# df2 = df_woman .drop(index=[0, 1, 2, 3, 4, 5])  # 删除前六行
# Drop rows 删除行 方法二
df2 = df_woman.drop(index=[0, 1, 2, 3, 4, 5]).reset_index(drop=True).rename(
    columns={"Unnamed: 0": "Rang2020", "Unnamed: 1": "Rang2019", "Unnamed: 2": "Kommun",
             "Unnamed: 3": "Folkmängd 2020", "Unnamed: 4": "Folkmängd 2019",
             "Unnamed: 5": "Förändring"}, )  

print(df2)
# data.rename(columns={'oldname':'newname'}, inplace=True), 重新给无列名的列赋予名字

    Rang2020  Rang2019        Kommun Folkmängd 2020  Folkmängd 2019 Förändring
0         84      85.0           Ale          15612         15348.0   1.720094
1         64      64.0      Alingsås          20900         20774.0   0.606527
2        123     123.0       Alvesta           9857          9795.0   0.632976
3        255     255.0         Aneby           3318          3350.0  -0.955224
4        165     164.0        Arboga           6945          6973.0  -0.401549
..       ...       ...           ...            ...             ...        ...
285       55      57.0     Österåker          22997         22442.0   2.473042
286      117     118.0     Östhammar          10846         10803.0   0.398038
287      160     159.0  Östra Göinge           7270          7262.0   0.110162
288      284     284.0     Överkalix           1559          1578.0  -1.204056
289      279     279.0    Övertorneå           2027          2065.0  -1.840194

[290 rows x 6 columns]

In [23]:
df2["Kön"] = "Kvinna"  # 增加一列女性
df2.head()

,Rang2020,Rang2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring,Kön
0,84,85.0,Ale,15612,15348.0,1.720094,Kvinna
1,64,64.0,Alingsås,20900,20774.0,0.606527,Kvinna
2,123,123.0,Alvesta,9857,9795.0,0.632976,Kvinna
3,255,255.0,Aneby,3318,3350.0,-0.955224,Kvinna
4,165,164.0,Arboga,6945,6973.0,-0.401549,Kvinna

# Excel sheet man's data

In [24]:
import pandas as pd

df_man = pd.read_excel("../datasource/komtopp50_2020.xlsx", sheet_name=3) # 打开第4个Excel
df_man.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,Antal män per kommun 31 december 2020 jämfört ...,NaN,NaN,NaN,NaN,NaN
2,Sorterat i alfabetisk ordning. Rangordning frå...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang,NaN,Kommun,Män 31 december,NaN,Förändring
5,2020,2019.0,NaN,2020,2019.0,%
6,81,83.0,Ale,16256,16054.0,1.258253
7,64,64.0,Alingsås,20702,20646.0,0.271239
8,122,123.0,Alvesta,10367,10339.0,0.270819
9,255,255.0,Aneby,3503,3498.0,0.142939
10,169,168.0,Arboga,7094,7114.0,-0.281136
11,287,286.0,Arjeplog,1426,1458.0,-2.194787
12,262,262.0,Arvidsjaur,3168,3182.0,-0.439975
13,103,103.0,Arvika,13037,13064.0,-0.206675
14,197,199.0,Askersund,5867,5788.0,1.364893
15,113,113.0,Avesta,11676,11734.0,-0.49429
16,223,219.0,Bengtsfors,4948,5051.0,-2.0392
17,249,250.0,Berg,3667,3652.0,0.410734
18,290,290.0,Bjurholm,1233,1249.0,-1.281025
19,149,149.0,Bjuv,8073,8053.0,0.248355

In [36]:

df3 = df_man.drop(index=[0, 1, 2, 3, 4, 5]).reset_index(drop=True).rename(
    columns={"Unnamed: 0": "Rang2020", 
             "Unnamed: 1": "Rang2019", 
             "Unnamed: 2": "Kommun",
             "Unnamed: 3": "Folkmängd 2020",
             "Unnamed: 4": "Folkmängd 2019",
             "Unnamed: 5": "Förändring"} 
             ).head() 
             
df3["Kön"] = "Man"  # 增加一列man             

print(df3)

# pandas的DataFrame的append方法详细介
# pandas.DataFrame.append
# DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)

  Rang2020  Rang2019    Kommun Folkmängd 2020  Folkmängd 2019 Förändring  Kön
0       81      83.0       Ale          16256         16054.0   1.258253  Man
1       64      64.0  Alingsås          20702         20646.0   0.271239  Man
2      122     123.0   Alvesta          10367         10339.0   0.270819  Man
3      255     255.0     Aneby           3503          3498.0   0.142939  Man
4      169     168.0    Arboga           7094          7114.0  -0.281136  Man

In [ ]:
# pandas的DataFrame的append方法详细介
# pandas.DataFrame.append
# DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=False)

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['A', 'B', 'C', 'D'])
df

# dataframe 删除列

In [ ]:
# DataFrame.drop(labels=None,axis=0, index=None, columns=None, inplace=False)
# labels 就是要删除的行列的名字，用列表给定
# axis 默认为0，指删除行，因此删除columns时要指定axis=1；
# index 直接指定要删除的行
# columns 直接指定要删除的列
# inplace=False，默认该删除操作不改变原数据，而是返回一个执行删除操作后的新dataframe；
# inplace=True，则会直接在原数据上进行删除操作，删除后无法返回。

In [ ]:
# Drop columns 方法一
df.drop(['B', 'C'], axis=1)  # 删除列B和列C
# axis 默认为0，指删除行，因此删除columns时要指定axis=1；

In [ ]:
# Drop columns 方法二
df.drop(columns=['B', 'C'])

# Drop rows 删除行

In [ ]:
# Drop rows 删除行 方法一
df.drop([0, 1])  # 删除第一行和第二行

In [ ]:
# Drop rows 删除行 方法二
df.drop(index=[0, 1])  # 删除第一行和第二行

# 删除指定的行

In [ ]:
# 删除指定的行
import pandas as pd
df = {'DataBase': ['mysql', 'test', 'test', 'test', 'test'],
      'table': ['user', 'student', 'course', 'sc', 'book']}
df = pd.DataFrame(df)
df

In [ ]:
#删除table值为sc的那一行
df.drop(index=(df.loc[(df['table']=='sc')].index))

In [ ]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
df

In [ ]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])
df2

In [ ]:
df.append(df2)  # 添加两行

In [ ]:
df.append(df2, ignore_index=True)  # 忽略index number

In [ ]:
pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],  # i 是从0到4
          ignore_index=True)